<div
  *ngIf="lang$ | async; let lang"
  class="available-add-ons"
  appLanguageDirection
>
  <div class="title">
    <h1>{{ "addOns.title" | translate }}</h1>
    <h3 class="sub-title">
      <ng-container *ngIf="freeAvailableAddOns === 0; else freeAddOnsMsg">
        {{ 'addOns.noFree' | translate }}
      </ng-container>
      <ng-template #freeAddOnsMsg>
        {{ "addOns.subTitle" | translate : { amountOfAddOns: freeAvailableAddOns } }}
      </ng-template>
    </h3>
  </div>
  <div mat-dialog-content>
    <mat-list>
      <mat-list-item *ngFor="let addOn of availableAddOns; let i = index">
        <mat-checkbox
          [disableRipple]="true"
          [(ngModel)]="addOn.selected"
          (change)="onCheckboxChange(addOn)"
        >
          <div class="add-on-row">
            <span class="add-on-name">{{
              addOn | propertiesTranslation : lang : "Name"
            }}</span>
            <span *ngIf="shouldShowPrice(addOn, i)" class="add-on-name">
              - {{ pricePerAddOn }} GTQ
            </span>
          </div>
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button class="actions-button" (click)="onSave()">
      {{ "addOns.add" | translate }}
    </button>
    <button mat-button class="actions-button" mat-dialog-close>
      {{ "addOns.close" | translate }}
    </button>
  </div>
</div>
