<ng-container *ngIf="lang$ | async; let lang">
  <mat-expansion-panel
    [expanded]="expanded"
    (opened)="opened.emit()"
    hideToggle
    appLanguageDirection
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        >{{ cartItem?.item | propertiesTranslation : lang : "Name" }} -
        {{ cartItem?.items?.size }}</mat-panel-title
      >
      <mat-panel-description>
        <span>{{ cartItem | previewItemCost }}</span>
        <img [src]="cartItem?.item?.imageUrl" class="item-image" />
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let group of groupedCartItem" class="cart-item-permutations">
      <div class="cart-item-permutation-name">
        <span class="item-count" *ngIf="group.count > 1">
          {{ group.count }} ×
        </span>
        <span *ngIf="group.addOns.length !== 0">
          {{ group.addOns | addOnUuidsToAddOns : lang }}
        </span>
        <span *ngIf="group.addOns.length === 0">
          {{ "itemPreview.noAdditions" | translate }}
        </span>
      </div>

      <div class="cart-item-permutation-price-and-actions">
        <span>{{ cartItem | previewItemCost : group.permutationUuids }}</span>
        <div>
          <mat-icon
            *ngIf="group.count > 1"
            class="action-icon"
            aria-hidden="false"
            aria-label="Remove one item"
            fontIcon="remove"
          ></mat-icon>
          <mat-icon
            class="delete-item"
            aria-hidden="false"
            aria-label="Remove all items"
            fontIcon="delete_forever__outline"
            (click)="removeItemGroup(group)"
          ></mat-icon>

          <mat-icon
            class="action-icon enable-icon"
            aria-hidden="false"
            aria-label="Add one more item"
            fontIcon="add"
          ></mat-icon>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</ng-container>
