<div class="bg-image"></div>

<div class="app-wrapper">
  <div class="header" appLanguageDirection>
    <div class="header-actions">
      <app-header-actions></app-header-actions>
    </div>
    <div class="header-language">
      <app-language-picker></app-language-picker>
    </div>
  </div>
  <div class="traveler-app">
    <router-outlet />
  </div>

  <div class="footer">
    <img class="candle" [src]="'/candle.svg'" (click)="onCandleClick()" />
    <div class="scroll-container">
      <span class="scroll-text">
        המערכת נבנתה לעילוי נשמת דניאל בן שרה קביאטק ע״ה
      </span>
    </div>
    <img class="candle" [src]="'/candle.svg'" (click)="onCandleClick()" />
  </div>
</div>
