.item-image {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.mat-expansion-panel-header {
  padding: 0 !important;
  margin: 10px;
  user-select: none;
}

.mat-content .mat-content-hide-toggle {
  margin-right: 0 !important;
}

.mat-expansion-panel-header-title {
  min-width: 44%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-size: 20px;
  margin: 0;
  justify-content: space-between;
  flex-basis: auto;
}

.cart-item-permutations {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 15px 4px;
  font-size: 18px;
  user-select: none;
  border-top: 1px solid;
}

.cart-item-permutation-name {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;
  gap: 5px;
  min-width: 45%;
}

.cart-item-permutation-price-and-actions {
  display: flex;
  flex-grow: 2;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
}

.action-icon {
  color: black;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.delete-item {
  color: #c75959;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header:focus {
    background: transparent !important;
    outline: none !important; /* if you want to remove focus outline */
}
