.item-image {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.mat-expansion-panel-header {
  padding: 0 !important;
  margin: 10px;
  user-select: none;
}

.mat-content .mat-content-hide-toggle {
  margin-right: 0 !important;
}

.mat-expansion-panel-header-title {
  min-width: 44%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-size: 20px;
  margin: 0;
  justify-content: space-between;
  flex-basis: auto;
}

.cart-item-permutations {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 15px 4px;
  font-size: 18px;
  user-select: none;
  border-top: 1px solid;
}

.cart-item-permutation-name {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;
  gap: 5px;
  min-width: 45%;
}

.cart-item-permutation-name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex-shrink: 1;
}

.cart-item-permutation-price-and-actions {
  display: flex;
  flex-grow: 2;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
}

.action-icons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-icon {
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  padding: 2px;
  width: 34px;
  height: 34px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.amount-icon {
  color: black;
  height: 30px;
  width: 30px;
  font-size: 30px;
  

  &:hover {
    color: #1976d2;
  }
}

.delete-item {
  color: #c75959;
  height: 30px;
  width: 30px;
  font-size: 30px;
  border-radius: 50%;

  &:hover {
    color: #d32f2f;
    background-color: rgba(211, 47, 47, 0.1);
  }
}

.mat-expansion-panel-header,
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header:focus {
    background: transparent !important;
    outline: none !important; /* if you want to remove focus outline */
}
