<div
  *ngIf="lang$ | async; let lang"
  appLanguageDirection
  (languageChanged)="languageChanged($event)"
>
  <mat-toolbar class="controls">
    <div class="tool-bar-actions">
      <button mat-fab aria-label="Add new add-on" (click)="addNewAddOn()">
        <mat-icon>add</mat-icon>
      </button>
      <div *ngIf="addOns && addOns.length" [dir]="dir">
        <mat-form-field appearance="outline">
          <mat-label>{{ "addOnOverview.searchLabel" | translate }}</mat-label>
          <input
            matInput
            [formControl]="searchTerm"
            [placeholder]="'addOnOverview.searchPlaceholder' | translate"
          />
        </mat-form-field>
      </div>

      <div *ngIf="addOns && addOns.length" [dir]="dir">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "addOnOverview.inStockFilterLabel" | translate
          }}</mat-label>
          <mat-select [formControl]="inStockFilter">
            <mat-option>--</mat-option>
            <mat-option [value]="true"
              >{{ "addOnOverview.yes" | translate }}
            </mat-option>
            <mat-option [value]="false"
              >{{ "addOnOverview.no" | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="spacer"></div>
    <mat-button-toggle-group class="view-mode-buttons" [(value)]="viewMode">
      <mat-button-toggle value="grid">
        <mat-icon>grid_view</mat-icon>{{ "addOnOverview.gridView" | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="table">
        <mat-icon>table_chart</mat-icon>
        {{ "addOnOverview.tableView" | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <div *ngIf="viewMode === 'grid'" class="grid-view" appLanguageDirection>
    <mat-card *ngFor="let addOn of filteredAddOns" class="card">
      <div class="card-content">
        <mat-card-title>
          <span>{{ addOn | propertiesTranslation : lang : "Name" }}</span>
        </mat-card-title>
      </div>
      <mat-divider></mat-divider>

      <mat-card-actions class="mat-card-actions">
        <div class="action-icon-wrapper edit-action" (click)="editAddOn(addOn)">
          <mat-icon>edit</mat-icon>
        </div>
        <mat-divider vertical></mat-divider>
        <div
          class="action-icon-wrapper delete-action"
          (click)="deleteAddOn(addOn)"
        >
          <mat-icon>delete</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <table
    mat-table
    [dataSource]="filteredAddOns"
    *ngIf="viewMode === 'table'"
    appLanguageDirection
    class="add-ons-table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ "addOnOverview.tableHeader.name" | translate }}
      </th>
      <td mat-cell *matCellDef="let addOn">
        {{ addOn | propertiesTranslation : lang : "Name" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="inStock">
      <th mat-header-cell *matHeaderCellDef>
        {{ "addOnOverview.tableHeader.inStock" | translate }}
      </th>
      <td mat-cell *matCellDef="let addOn">
        {{
          addOn.inStock
            ? ("addOnOverview.yes" | translate)
            : ("addOnOverview.no" | translate)
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        {{ "addOnOverview.tableHeader.actions" | translate }}
      </th>
      <td mat-cell *matCellDef="let addOn">
        <button mat-icon-button (click)="editAddOn(addOn)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAddOn(addOn)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-container *ngIf="!loadingData; else loading">
    <ng-container *ngIf="addOns && addOns.length > 0; else noData">
      <ng-container *ngIf="filteredAddOns.length === 0">
        <div class="no-results">
          <app-no-results [titleParams]="searchTerm.value"></app-no-results>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noData>
      <div class="no-data">
        <app-no-data [type]="'add-on'"></app-no-data>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
