<div class="container" appLanguageDirection>
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <img src="./assets/login-background.png" class="photo" />
    <form class="login-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <input type="text" [placeholder]="'bbbbb'" formControlName="username" />
      <input
        type="password"
        [placeholder]="'aaaa'"
        formControlName="password"
      />
      <button
        class="login-button"
        type="submit"
        [disabled]="signInForm.invalid"
      >
        {{ "login.submit" | translate }}
      </button>
    </form>
  </div>
</div>
