<div class="dashboard-wrapper">
  <mat-toolbar>
    <mat-toolbar-row>
      <menu-icon (menuStateChanged)="toggleSidenav($event)"></menu-icon>
      <!-- <div class="spacer"></div>
      <app-language-picker></app-language-picker> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="content" [hasBackdrop]="false">
    <mat-sidenav
      #sidenav
      mode="over"
      [ngClass]="{ expanded: isSidenavExpanded, collapsed: !isSidenavExpanded }"
      opened="true"
    >
      <div class="menu-buttons">
        <div
          class="menu-button"
          [class.active-menu-button]="
            selectedMenuButton?.route === button.route
          "
          *ngFor="let button of dashboardMenuButtons"
          (click)="menuButtonClicked(button)"
        >
          <mat-icon
            class="menu-icon"
            aria-hidden="false"
            aria-label="Remove all items"
            [fontIcon]="button.icon"
          ></mat-icon>
          <div class="menu-text">
            {{ button.titleKey | translate }}
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-body" [class.content-body-margin]="isSidenavExpanded">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
