::ng-deep {
  .selected-language {
    border: 1px solid var(--mat-sys-primary, #005cbb) !important;
  }
  .arrow-down {
    border-top: 5px solid var(--mat-sys-primary, #005cbb) !important;
  }

  .language-name {
    color: var(--mat-sys-primary, #005cbb) !important;
  }

  .dropdown-menu {
    background: var(--mat-sys-primary-container, #d7e3ff) !important;
  }
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.mat-toolbar-row {
  color: var(--mat-sys-primary, #005cbb);
  background: var(--mat-sys-primary-container, #d7e3ff);
}

.mat-drawer-side {
  border-right: 1px solid black !important;
}

.mat-drawer {
  border-radius: 0 !important;
  transition: width 0.3s ease;
}

.mat-drawer.collapsed {
  width: 70px;
  overflow: hidden;
}

.mat-drawer.expanded {
  width: 200px;
}

.menu-buttons {
  height: 100%;
  background: var(--mat-sys-primary-container, #d7e3ff);
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
  height: 70px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    .menu-icon {
      transition: all 0.5s ease;
      transform: scale(1.3);
    }

    .menu-text {
      transition: all 0.3s ease;
      font-size: 20px;
    }
  }
}

.active-menu-button {
  color: var(--mat-sys-primary, #005cbb);
}

.menu-icon {
  min-width: 24px;
}

.menu-text {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s ease;

  &.hidden {
    opacity: 0;
    width: 0;
  }
}

.content-body {
  transition: all 0.3s ease;
  position: relative;
  padding: 20px;
  height: 100%;
}
