.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 60px;
}

.cart-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

.cart-badge {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  
  
  pointer-events: none;
  text-align: center;
}
