<div
  class="category-form-container"
  appLanguageDirection
  (languageChanged)="languageChanged($event)"
>
  <ng-container *ngIf="!cbPennding; else cbPenndingTitle">
    <ng-container *ngIf="data.category; else newForm">
      <h2 mat-dialog-title>
        {{ "categoryForm.edit" | translate }}
      </h2>
    </ng-container>
    <ng-template #newForm>
      <h2 mat-dialog-title>
        {{ "categoryForm.new" | translate }}
      </h2>
    </ng-template>
  </ng-container>
  <ng-template #cbPenndingTitle>
    <h2 mat-dialog-title>
      {{ "categoryForm.saveCategory" | translate }}
    </h2>
  </ng-template>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <ng-container *ngIf="!cbPennding; else cbPenndingContent">
        <div class="form-feilds">
          <mat-form-field appearance="outline" class="full-width" [dir]="dir">
            <mat-label>{{ "categoryForm.enName" | translate }}</mat-label>
            <input matInput formControlName="enName" required />
            <mat-error
              appLanguageDirection
              *ngIf="
                categoryForm.get('enName')?.invalid &&
                categoryForm.get('enName')?.touched
              "
            >
              {{ "categoryForm.enError" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" [dir]="dir">
            <mat-label>{{ "categoryForm.heName" | translate }}</mat-label>
            <input matInput formControlName="heName" required />
            <mat-error
              appLanguageDirection
              *ngIf="
                categoryForm.get('heName')?.invalid &&
                categoryForm.get('heName')?.touched
              "
            >
              {{ "categoryForm.heError" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" [dir]="dir">
            <mat-label>{{ "categoryForm.esName" | translate }}</mat-label>
            <input matInput formControlName="esName" required />
            <mat-error
              appLanguageDirection
              *ngIf="
                categoryForm.get('esName')?.invalid &&
                categoryForm.get('esName')?.touched
              "
            >
              {{ "categoryForm.esError" | translate }}
            </mat-error>
          </mat-form-field>
          <ng-container
            *ngIf="categoryForm.get('imageUrl')?.value; else noExistingImage"
          >
            <div class="image-section">
              <mat-tab-group>
                <mat-tab [label]="'categoryForm.existingImage' | translate">
                  <div class="tab-body-content">
                    <img
                      [src]="categoryForm.get('imageUrl')?.value"
                      class="existing-image"
                      [alt]="categoryForm.get('enName')?.value"
                    />
                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div
                      *ngIf="categoryImage; else withoutBadge"
                      appLanguageDirection
                      matBadge="!"
                      matBadgeOverlap="false"
                    >
                      {{ "categoryForm.newImage" | translate }}
                    </div>
                    <ng-template #withoutBadge>
                      <div>
                        {{ "categoryForm.newImage" | translate }}
                      </div>
                    </ng-template>
                  </ng-template>
                  <div class="tab-body-content">
                    <div class="form-load-file">
                      <load-file
                        (fileSelected)="imageChanged($event)"
                        (fileRemoved)="imageRemoved()"
                      ></load-file>
                    </div></div
                ></mat-tab>
              </mat-tab-group>
            </div>
          </ng-container>
          <ng-template #noExistingImage>
            <div class="form-load-file">
              <load-file
                (fileSelected)="imageChanged($event)"
                (fileRemoved)="imageRemoved()"
              ></load-file>
            </div>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #cbPenndingContent>
        <div class="saving-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>

    <div mat-dialog-actions align="center">
      <button mat-button type="button" mat-dialog-close [disabled]="cbPennding">
        {{ "categoryForm.cancel" | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="
          cbPennding ||
          categoryForm.invalid ||
          (!this.categoryForm.controls['imageUrl'].value && !this.categoryImage)
        "
      >
        <ng-container *ngIf="data.category; else createAction">
          {{ "categoryForm.save" | translate }}
        </ng-container>
        <ng-template #createAction>
          {{ "categoryForm.create" | translate }}
        </ng-template>
      </button>
    </div>
  </form>
</div>
