/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.rtl {
  direction: rtl;
  text-align: right;

  .mat-mdc-select-value {
    text-align: right !important;
  }

  .mat-mdc-option {
    direction: rtl !important;
  }

  .mdc-list-item__primary-text {
    margin-right: 0;
    margin-left: auto;
  }
}

.ltr {
  direction: ltr;
  text-align: left;
}
