/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.expansion-overrides(
    (
      header-hover-state-layer-color: transparent,
    )
  );
  @include mat.dialog-overrides(
    (
      container-max-width: none,
    )
  );
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: static;
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.mdc-checkbox__ripple {
  display: none;
}

.rtl {
  direction: rtl;
  text-align: right;

  .mat-mdc-select-value {
    text-align: right !important;
  }

  .mat-mdc-option {
    direction: rtl !important;
  }

  .mdc-list-item__primary-text {
    margin-right: 0;
    margin-left: auto;
  }
}

.ltr {
  direction: ltr;
  text-align: left;
}

.heartbeat {
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}
